@model IEnumerable<Interview_Task_TruckAPI.Models.Truck>

@{
    ViewData["Title"] = "Truck List";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Registration</th>
            <th>Gross Weight</th>
            <th>Tare Weight</th>
            <th>Nett Weight</th>
            <th>Haulier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var truck in Model)
        {
            <tr>
                <td>@truck.Id</td>
                <td>@truck.Registration</td>
                <td>@truck.GrossWeight</td>
                <td>@truck.TareWeight</td>
                <td>@truck.NettWeight</td>
                <td>@truck.Haulier</td>
            </tr>
        }
    </tbody>
</table>